<div class="flash">
<%= flash[:notice] %></div>

<div class="editingbook">Editing Book</div>
<%= form_for(@book) do |f| %>

<div class="edit-box">
<div class="edit-title">Title</div>
<%= f.text_field :title %>

<div class="edit-body">Body</div>
<%= f.text_area :body %><br>
<%= f.submit 'Update Book' %>

</div>
<% end %>

<div class="box1">
<span class="under"><%= link_to "Show",book_path(@book.id) %></span>
<span class="under"><%= link_to "Back",books_path %></span>
</div>

