<main>
 <div class="books">Books</div>

 <table>
  <tr>
	 <th>Title</th>
	 <th>Body</th>
	 <th></th>
  </tr>
 <% @books.each do |book| %>
	<tr>

		 <td><%= book.title %></td>
		 <td><%= book.body %></td>
		 <td><span class="under"><%= link_to "Show",book_path(book) %></span></td>
		 <td><span class="under"><%= link_to "Edit", edit_book_path(book) %></span></td>
		 <td><span class="under"><%= link_to "Destroy", book_path(book), method: :delete %></span></td>
	</tr>
 <% end %>
</table>


 <%= form_for(@book) do |f| %>
  <div class="newbook">New book</div>
  <% @book.errors.full_messages.each do |message| %>
  <%= message %>
 <% end %>

 <div class="title">
  <h4>Title</h4>
  <%= f.text_field :title %>
 </div>

 <div class="title">
   <h4>Body</h4>
   <%= f.text_area :body %><br><br>
   <%= f.submit 'Create Book' %>
 </div>
 <% end %>
</main>
