
<div class="flash"><% if flash[:notice] %>
    <%= flash[:notice] %></div>

 <% end %>

<div class="show-title">Title:<%= @book.title %></div>

<div class="show-body">Body:<%= @book.body %></div>

<div class="box1">
<span class="under"><%= link_to "Edit", edit_book_path(@book.id) %></span>
<span class="under"><%= link_to "Back", books_path %></span>
</div>
